*, html, body{
  margin: 0;
  padding: 0;
  font-family: "monospace", sans-serif;
}

body {
width: 100%;
}

#popup {
width: 100%;
height: 100%;
position: fixed;
background: rgba(0,0,0,.7);
top: 0;
left: 0;
z-index: 9999;
visibility: hidden;
}
 
.window {
width: 500px;
height: 200px;
background: #fff;
border-radius: 20px;
position: relative;
padding: 10px;
box-shadow: 0 0 5px rgba(0,0,0,.4);
text-align: center;
margin: 150px auto;
}

.window h1{
    color: #000000;
    padding-top: 3%;
}

.window p{
    color: black;
    padding-top: 1%;
}
 
.close-button {
width: 20px;
height: 20px;
background: #f1c40f;
border-radius: 50%;
border: 3px solid #fff;
display: block;
text-align: center;
color: #fff;
text-decoration: none;
position: absolute;
top: -10px;
right: -10px;
}
 
#popup:target {
visibility: visible;
}

.text-wrap {
color: #FFFFFF;
font-weight: 400;
margin-left: 20px;
}

.fContainer {
  display: flex;
  width: 100%;
  /* height: 350px; */
  background-color:white;
}

.wrapper{
  display: flex;
  background: url('https://orange.codeberryschool.com/content/images/project-assets/simple-footer.png');
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  padding: 15px;
  width: 100%;
  height: 80px;
  background-color: #222;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.5);
}

.logo{
  display: flex;
  flex-direction: row;
  font-size: 0;
  padding: -20px;
}

.logo > li> img:hover{
  width: 40x;
  height: 40px;
  transition: all .6s ease-in-out;

}


.navigation{
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation > li > img{
  width: 50px;
  height: 50px;
  border-radius:50px;
}

.navigation > li > img:hover{
  width: 65px;
  height: 65px;
  border-radius: 65px;
  transition: all .3s ease-in-out;
}

.navigation > li{
  list-style-type: none;
  padding: 15px;
  width: 100%;
}

.navigation > li > a{
  color: white;
  font-size: 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.beli {
display: inline-block;
padding: 10px 20px;
font-size: 16px;
text-align: center;
text-decoration: none;
background-color: rgb(172, 149, 15);
color: #FFFFFF;
border-radius: 4px;
transition: background-color 0.3s ease;
}


.beli:hover {
background-color: rgb(172, 149, 15);
}

.beli:active {
transform: scale(0.95);
}

.home{
  color: white;
  font-weight: 700;
  padding: 15px;
}

.navigation > li > .home:hover{
  width: 70px;
  height: 70px;
  border-radius:70px;
  transition: all .6s ease-in-out;
}

.akun{
  color: white;
  font-weight: 700;
  background-color:  rgb(49, 57, 81);
  padding: 15px;
  
}

.navigation > li > .akun:hover{
  width: 70px;
  height: 70px;
  border-radius:70px;
  transition: all .6s ease-in-out;
}

* {
  box-sizing: flex;
}

*,
*::before,
*::after {
box-sizing: border-box;
padding: 0;
margin: 0;
}

.navigation .icon-cart {
position: relative;
right: 12px;
width: 32px;
height: 32px;
}

.navigation .icon-cart span {
display: flex;
width: 20px;
height: 20px;
background-color: red;
justify-content: center;
align-items: center;
color: #FFFFFF;
border-radius: 50%;
position: absolute;
top: 50%;
right: -20px;
}

.cartTab {
width: 400px;
background-color: #353432;
color: #eee;
position: fixed;
inset: 70px -400px 0 auto;
display: grid;
grid-template-rows: 70px 1fr 70px;

}

body.showcart .cartTab {
inset: 70px 0 0 auto;
}



.cartTab h1 {
padding: 20px;
margin: 0;
font-weight: 300;
}

.cartTab .btn {
display: grid;
grid-template-columns: repeat(2, 1fr);
}

.cartTab .btn button {
background-color: #e8bc0e;
border: none;
font-weight: 500;
cursor: pointer;
}

.cartTab .btn .closebtn {
background-color: #eee;
}

.cartTab .listCart .item img {
width: 100%;
}

.cartTab .listCart .item {
display: grid;
grid-template-columns: 70px 150px 50px 1fr;
gap: 10px;
text-align: center;
align-items: center;
}

.listCart .quantity span {
display: inline-block;
width: 25px;
height: 25px;
background-color: #eee;
color: #555;
border-radius: 50%;
cursor: pointer;
}

.listCart .quantity span:nth-child(2) {
background-color: transparent;
color: #eee;
}

.listCart .item:nth-child(even) {
background-color: #eee1;
}

.listCart {
overflow: auto;
}

.listCart::-webkit-scrollbar {
width: 0;
}

.container {
z-index: -9999;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
max-width: 2000px;
margin-block: 32px;
gap: 32px;
align-items: flex-start;
}

img {
max-width: 100%;
display: block;
object-fit: cover;
}

.card__header img {
max-width: 400px;
}

.card {
display: flex;
flex-direction: column;
width: 400px;
height: 800px;
/* width: clamp(20rem, calc(20rem + 2vw), 22rem); */
overflow: hidden;
box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
border-radius: 0.5em;
background: white;
background: linear-gradient(to right, #FFFFFF, #ECE9E6);

}

.card__body {
padding: 1rem;
display: flex;
flex-direction: column;
gap: .5rem;
}

.card__body h4 {
font-size: 24px;
text-transform: capitalize;
}

.card__footer {
display: flex;
padding: 1rem;
margin-top: auto;
}

/* FOOTER */
footer {
  width: 100%;
  background-color: #222;
  text-align: center;
  padding: 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.copyright {
color: #FFFFFF;
}

.social a {
font-size: 30px;
}

.introduction-section img{
display: flex;
content: 10%;
justify-content: center;
padding: 15px;
margin: 50px 0px 0px 120px;
height: 600px;
}

.introduction-section,
.location-section,
.questions-section {
text-align: center;
  max-width: 608px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.introduction-section {
margin-top: 0px;
}

table {
border: solid 1px #DDEEEE;
border-collapse: collapse;
border-spacing: 0;
width: 100%;
margin: 10px auto 10px auto;
}

table thead th {
background-color: salmon;
border: solid 1px #DDEEEE;
color: #DDEEEE;
padding: 10px;
text-align: center;
text-shadow: .5px .5px .5px #fff;
text-decoration: none;
}

table tbody td {
text-align: center;
border: solid 1px #DDEEEE;
color: rgb(77, 77, 77);
padding: 10px;
text-shadow: 1px 1px 1px #fff;
}

.introduction-section > p,
.location-section > p,
.questions-section,
.content-footer > p {
  /* Typography Declarations */
  font-weight: 300;
  letter-spacing: 0.8px;
}

.social a:hover, a:link, a:active, a:visited {
text-decoration: none;
color: blue;
}

.questions-section > h2 {
  font-family: "Gentium Book Basic", Georgia, serif;
  font-size: 19.2px;
  font-weight: bold;
  /* Layout */
  margin: 32px 0 16px 0;
}

section > h1 {
  margin-top: 32px;
}

.h1{
color: rgb(75, 99, 175);
font-weight: 500vh;
}

html {
height: 100%;
font-family: 'Montserrat';

display: grid;
align-items: center;
justify-items: center;

--bg: #FCFCFC;
--bg-panel: #EBEBEB;
--color-headings: #0077FF;
--color-text: #333333;
}

body {
background-color: var(--bg);
}

.container {
background-color: var(--bg-panel);

margin: 5em;
padding: 5em;

border-radius: 15px;

display: flex;
}

h1 {
margin: 0;
color: var(--color-headings);
}

p {
color: var(--color-text);
grid-area: content;
font-size: 1.1em;
line-height: 1.8em;
margin-top: 2em;
}

.navbar ul.dark-mode li a.active,
.navbar ul.dark-mode li a:hover{
  background: #c9cdd4;
  color: #132257;
  border-radius: 2px;
}

.navbar ul li a.active,
.navbar ul li a:hover{
  background: #d9ed23;
  color: #132257;
  border-radius: 2px;
}

.container-footer {
  position: fixed;
  bottom: 0;
  height: 60vh;
  background-color: #212838;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-footer img {
  height: 100px;
  width: auto;
  margin-right: 40px; /* Memberi jarak antara logo dan teks */
  margin-bottom: 120%;
  
}

.motivasi {
  position: absolute; /* Mengatur posisi absolut untuk overlay teks di atas gambar */
  top: 113%;
  left: 49%; /* Mengatur posisi horizontal ke tengah */
  transform: translate(-50%, -50%); /* Menggeser teks ke tengah baik secara horizontal maupun vertikal */
  /* text-align: center; Mengatur teks ke tengah */
}

.kata {
  position: absolute; /* Mengatur posisi absolut untuk overlay teks di atas gambar */
  top: 118%;
  left: 49%; /* Mengatur posisi horizontal ke tengah */
  transform: translate(-50%, -50%); /* Menggeser teks ke tengah baik secara horizontal maupun vertikal */
  text-align: center; 
}

.motiv {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #d2dceb;
}

.circle2 {
  position: absolute; /* Mengatur posisi absolut untuk overlay teks di atas gambar */
  top: 130%;
  left: 48%; /* Mengatur posisi horizontal ke tengah */
  transform: translate(-50%, -50%); /* Menggeser teks ke tengah baik secara horizontal maupun vertikal */
  width: 50px;
  height: 50px;
  background-color: #212838;
  border-radius: 50%; /* Ini membuat lingkaran */
  overflow: hidden; /* Ini akan memotong gambar yang melebihi batas lingkaran */
  margin-right: 300px;
  border-color: #d2dceb; 
  border-width: 2px; /* Lebar garis tepi (default) */
  border-style: solid; /* Gaya garis tepi (default) */
}

.circle2 img {
  width: 60%;
  height: 60%;
  margin-top: 10px;
  margin-left: 10px;
  
  
}

.circle2:hover {
  background-color: rgb(255, 255, 255); /* Warna latar belakang berubah saat hover */
  cursor: pointer; /* Ubah cursor menjadi tanda tangan saat hover */
}

.circle3 {
  position: absolute; /* Mengatur posisi absolut untuk overlay teks di atas gambar */
  top: 130%;
  left: 42%; /* Mengatur posisi horizontal ke tengah */
  transform: translate(-50%, -50%); /* Menggeser teks ke tengah baik secara horizontal maupun vertikal */
  width: 50px;
  height: 50px;
  background-color: #212838;
  border-radius: 50%; /* Ini membuat lingkaran */
  overflow: hidden; /* Ini akan memotong gambar yang melebihi batas lingkaran */
  margin-right: 300px;
  border-color: #d2dceb; /* Warna outline merah (#e74c3c) */
  border-width: 2px; /* Lebar garis tepi (default) */
  border-style: solid; /* Gaya garis tepi (default) */
}

.circle3 img {
  width: 60%;
  height: 60%;
  margin-top: 10px;
  margin-left: 10px;
  
  
}

.circle3:hover {
  background-color: rgb(255, 255, 255); /* Warna latar belakang berubah saat hover */
  cursor: pointer; /* Ubah cursor menjadi tanda tangan saat hover */
}

.circle4 {
  position: absolute; /* Mengatur posisi absolut untuk overlay teks di atas gambar */
  top: 130%;
  left: 54%; /* Mengatur posisi horizontal ke tengah */
  transform: translate(-50%, -50%); /* Menggeser teks ke tengah baik secara horizontal maupun vertikal */
  width: 50px;
  height: 50px;
  background-color: #212838;
  border-radius: 50%; /* Ini membuat lingkaran */
  overflow: hidden; /* Ini akan memotong gambar yang melebihi batas lingkaran */
  margin-right: 300px;
  border-color: #d2dceb; /* Warna outline merah (#e74c3c) */
  border-width: 2px; /* Lebar garis tepi (default) */
  border-style: solid; /* Gaya garis tepi (default) */
}

.circle4 img {
  width: 50%;
  height: 50%;
  margin-top: 12px;
  margin-left: 12px;
  
  
}

.circle4:hover {
  background-color: rgb(255, 255, 255); /* Warna latar belakang berubah saat hover */
  cursor: pointer; /* Ubah cursor menjadi tanda tangan saat hover */
}

.copy{
  position: absolute; /* Mengatur posisi absolut untuk overlay teks di atas gambar */
  top: 140%;
  left: 40%; /* Mengatur posisi horizontal ke tengah */
  transform: translate(-50%, -50%); /* Menggeser teks ke tengah baik secara horizontal maupun vertikal */
  text-align: center; 
}

.craft {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #d2dceb;
}

.copyright{
  
  position: absolute; /* Mengatur posisi absolut untuk overlay teks di atas gambar */
  top: 140.5%;
  left: 48.5%; /* Mengatur posisi horizontal ke tengah */
  transform: translate(-50%, -50%); /* Menggeser teks ke tengah baik secara horizontal maupun vertikal */
  text-align: center; 
}

.copyright img {
  width: 25px;
  height: 25px;
}

.nama{
  position: absolute; /* Mengatur posisi absolut untuk overlay teks di atas gambar */
  top: 140%;
  left: 58%; /* Mengatur posisi horizontal ke tengah */
  transform: translate(-50%, -50%); /* Menggeser teks ke tengah baik secara horizontal maupun vertikal */
  text-align: center; 
}